<div class="col-sm-12">
    <h3>{{'wo-split.title' | i18n}}</h3>
</div>
<span ng-if="loading">Cargando...</span>
<label class="col-sm-12 fieldset">
    {{'wo-split.labels.wo-previousid' | i18n}}: {{fmData.wo_previousid}}<br/>
    {{'wo-split.labels.wo-previousdate' | i18n}}: {{fmData.wo_previousdate}}<br/>
    <span ng-if="fmData.file1">
        Archivo 1: <a href="/uploads/{{wo_id}}_file1.pdf" download="{{ fmData.file1 }}" target="_blank">Descargar</a> | <a href="/uploads/{{wo_id}}_file1.pdf" target="_blank">{{fmData.file1}}</a><br/>
    </span>
    <span ng-if="fmData.file2">
        Archivo 2: <a href="/uploads/{{wo_id}}_file2.pdf" download="{{ fmData.file2 }}" target="_blank">Descargar</a> | <a href="/uploads/{{wo_id}}_file2.pdf" target="_blank">{{fmData.file2}}</a><br/>
    </span>
    </label>
<form class="row col-sm-12" role="form" name="ggform" ng-submit="onSubmit();" novalidate>
<gg-select err-class="error"
        lbl="{{'wo-split.labels.zo-id' | i18n}}" 
        form-group-class="col-sm-6" 
        options="zo_idoptions" 
        ng-model="fmData.zo_id"
        regexp="singlespaces"
        regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
        req-msg="Required"
        is-required="true"
        is-disabled="true">
</gg-select>
<gg-input err-class="error"
        lbl="{{'wo-split.labels.wo-orderedby' | i18n}}" 
        form-group-class="col-sm-6"
        ng-model="fmData.wo_orderedby"
        regexp="singlespaces"
        regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
        req-msg="Required"
        is-required="true"
        is-disabled="true">
</gg-input>
<gg-input err-class="error"
        lbl="{{'wo-split.labels.wo-attention' | i18n}}" 
        form-group-class="col-sm-4"
        ng-model="fmData.wo_attention"
        regexp="singlespaces"
        regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
        req-msg="Required"
        is-required="true"
        is-disabled="true">
</gg-input>          
<gg-input err-class="error"
        lbl="{{'wo-split.labels.wo-release' | i18n}}" 
        form-group-class="col-sm-4"
        ng-model="fmData.wo_release"
        regexp="singlespaces"
        regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
        req-msg="Required"
        is-disabled="true">
</gg-input>
<gg-input err-class="error"
        lbl="{{'wo-split.labels.wo-po' | i18n}}" 
        form-group-class="col-sm-4"
        ng-model="fmData.wo_po"
        regexp="singlespaces"
        regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
        req-msg="Required"
        is-disabled="true">
</gg-input>
<label class="col-sm-12 fieldset">LINEA</label>
<gg-input err-class="error"
        lbl="{{'wo-split.labels.wo-line' | i18n}}" 
        form-group-class="col-sm-3"
        ng-model="fmData.wo_line"
        regexp="integer"
        regexp-msg="{{'general.regexp.integer' | i18n}}"
        req-msg="Required"
        is-disabled="true">
</gg-input>
<gg-input err-class="error"
        lbl="{{'wo-split.labels.wo-linetotal' | i18n}}" 
        form-group-class="col-sm-3"
        ng-model="fmData.wo_linetotal"
        regexp="integer"
        regexp-msg="{{'general.regexp.integer' | i18n}}"
        req-msg="Required"
        is-disabled="true">
</gg-input>
<label class="col-sm-12 fieldset">PRODUCTO</label>
<gg-select err-class="error"
        lbl="{{'wo-split.labels.pr-id' | i18n}}" 
        form-group-class="col-sm-6 col-xs-10" 
        options="pr_idoptions" 
        ng-model="fmData.pr_id"
        regexp="singlespaces"
        regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
        req-msg="Required"
        is-required="true"
        is-disabled="true">
</gg-select>
<div class="form-group col-sm-2 col-xs-2">
    <label class="control-label">&nbsp</label>
    <div>
        <a class="btn btn-primary form-control" href="{{productUpdateUrl}}" target="_blank">Detalles</a>  
    </div>
</div>
<gg-input err-class="error"
        lbl="{{'wo-split.labels.wo-qty' | i18n}}" 
        form-group-class="col-sm-2"
        ng-model="fmData.wo_qty"
        regexp="integer"
        regexp-msg="{{'general.regexp.integer' | i18n}}"
        req-msg="Required"
        is-required="true"
        is-disabled="true">
</gg-input>
<gg-input err-class="error"
        lbl="{{'wo-split.labels.wo-qtydone' | i18n}}" 
        form-group-class="col-sm-2"
        ng-model="fmData.wo_qtydone"
        regexp="integer"
        regexp-msg="{{'general.regexp.integer' | i18n}}"
        req-msg="Required"
        is-required="true"
        is-disabled="false">
</gg-input>
<span class="col-sm-12">
<div ng-show="prinfo" class="pr-info col-sm-12 bg-info">
        <div class="text-danger" ng-if="pr_inactive">El producto esta deshabilitado</div>
        <strong>Part No:</strong> {{product['pr_jsonb']['pr_partno']}}<br/>  
        <strong>Folios:</strong> {{product['pr_jsonb']['pr_folio']}}<br/>
        <strong>Material:</strong> <br>
        <span ng-repeat="material in materials track by $index">{{material.description}} 
                <span class="text-danger" ng-if="material.status === 'I'"> - Deshabilitado</span><br/>
        </span>
</div>
</span>
<span ng-if="folio">
    <label class="col-sm-12 fieldset">FOLIOS</label>
    <gg-select err-class="error"
            lbl="{{'wo-split.labels.wo-foliosperformat' | i18n}}" 
            form-group-class="col-sm-3" 
            options="wo_foliosperformatoptions" 
            ng-model="fmData.wo_foliosperformat"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="true"
            is-disabled="true">
    </gg-select>
    <gg-input err-class="error"
            lbl="{{'wo-split.labels.wo-foliosseries' | i18n}}" 
            form-group-class="col-sm-3"
            ng-model="fmData.wo_foliosseries"
            regexp="uppercase"
            regexp-msg="{{'general.regexp.uppercase' | i18n}}"
            req-msg="Required"
            is-required="false"
            is-disabled="true">
    </gg-input>
    <gg-input err-class="error"
            lbl="{{'wo-split.labels.wo-foliosfrom' | i18n}}" 
            form-group-class="col-sm-3"
            ng-model="fmData.wo_foliosfrom"
            regexp="integer"
            regexp-msg="{{'general.regexp.integer' | i18n}}"
            req-msg="Required"
            is-required="true"
            is-disabled="true">
    </gg-input>
    <gg-input err-class="error"
            lbl="{{'wo-split.labels.wo-foliosto' | i18n}}" 
            form-group-class="col-sm-3"
            ng-model="fmData.wo_foliosto"
            regexp="integer"
            regexp-msg="{{'general.regexp.integer' | i18n}}"
            req-msg="Required"
            is-required="true"
            is-disabled="true">
    </gg-input>
</span>
<span ng-if="fmData.pr_id">
<label class="col-sm-12 fieldset">MAQUINA</label>
    <gg-select err-class="error"
                lbl="{{'wo-split.labels.ma-id' | i18n}}" 
                form-group-class="col-sm-6"
                options="ma_idoptions" 
                ng-model="fmData.ma_id"
                regexp="singlespaces"
                regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                req-msg="Required"
                is-required="true"
                is-disabled="true">
    </gg-select>
</span>
<label class="col-sm-12 fieldset">MATERIAL ORDENADO</label>
<span ng-if="!components">
<gg-input err-class="error"
            lbl="{{'wo-add.labels.wo-materialqty' | i18n}}" 
            form-group-class="col-sm-3"
            ng-model="fmData.wo_materialqty"
            regexp="decimal"
            regexp-msg="{{'general.regexp.decimal' | i18n}}"
            req-msg="Required"
            is-required="true">
</gg-input>
</span>
<span ng-if="components">
        <span ng-repeat="material in componentsArray track by $index">
                <gg-input err-class="error"
                        lbl="{{product['pr_jsonb']['pr_concept'][$index]}}" 
                        form-group-class="col-sm-3"
                        ng-model="fmData.wo_componentmaterialqty[$index]"
                        regexp="decimal"
                        regexp-msg="{{'general.regexp.decimal' | i18n}}"
                        req-msg="Required"
                        is-required="true">
            </gg-input>
        </span>
</span>
<label class="col-sm-12 fieldset">EMPAQUE</label>
<gg-input err-class="error"
            lbl="{{'wo-split.labels.wo-packageqty' | i18n}}" 
            form-group-class="col-sm-3"
            ng-model="fmData.wo_packageqty"
            regexp="integer"
            regexp-msg="{{'general.regexp.integer' | i18n}}"
            req-msg="Required"
            is-required="true"
            is-disabled="true">
</gg-input>
<gg-input err-class="error"
            lbl="{{'wo-split.labels.wo-boxqty' | i18n}}" 
            form-group-class="col-sm-3"
            ng-model="fmData.wo_boxqty"
            regexp="integer"
            regexp-msg="{{'general.regexp.integer' | i18n}}"
            req-msg="Required"
            is-required="true"
            is-disabled="true">
</gg-input>
<label class="col-sm-12 fieldset">ORDEN</label>
<gg-input err-class="error"
        lbl="{{'wo-split.labels.wo-previousid' | i18n}}" 
        form-group-class="col-sm-6"
        ng-model="fmData.wo_previousid"
        regexp="integer"
        regexp-msg="{{'general.regexp.integer' | i18n}}"
        req-msg="Required"
        is-required="true"
        is-disabled="true">
</gg-input>
<gg-input err-class="error"
        lbl="{{'wo-split.labels.wo-previousdate' | i18n}}" 
        form-group-class="col-sm-6"
        ng-model="fmData.wo_previousdate"
        regexp="date"
        regexp-msg="{{'general.regexp.date' | i18n}}"
        req-msg="Required"
        is-required="true"
        is-disabled="true">
</gg-input>
<gg-textarea err-class="error"
        lbl="{{'wo-split.labels.wo-notes' | i18n}}" 
        form-group-class="col-sm-3"
        ng-model="fmData.wo_notes"
        height="176"
        regexp="singlespaces"
        regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
        req-msg="Required"
        is-disabled="true">
</gg-textarea>
<gg-textarea err-class="error"
        lbl="{{'wo-split.labels.wo-splitnotes' | i18n}}" 
        form-group-class="col-sm-3"
        ng-model="fmData.wo_splitnotes"
        height="176"
        regexp="singlespaces"
        regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
        req-msg="Required"
        is-required="true">
</gg-textarea>
<gg-input err-class="error"
        lbl="{{'wo-split.labels.wo-commitmentdate' | i18n}}" 
        form-group-class="col-sm-6"
        ng-model="fmData.wo_commitmentdate"
        regexp="date"
        regexp-msg="{{'general.regexp.date' | i18n}}"
        req-msg="Required"
        is-required="true"
        is-disabled="true">
</gg-input>
<gg-input err-class="error"
        lbl="{{'wo-split.labels.wo-price' | i18n}}" 
        form-group-class="col-sm-3"
        ng-model="fmData.wo_price"
        regexp="decimal"
        regexp-msg="{{'general.regexp.decimal' | i18n}}"
        req-msg="Required"
        is-required="true"
        is-disabled="true">
</gg-input>
<gg-select err-class="error"
        lbl="{{'wo-split.labels.wo-currency' | i18n}}" 
        form-group-class="col-sm-3" 
        options="wo_currencyoptions" 
        ng-model="fmData.wo_currency"
        regexp="singlespaces"
        regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
        req-msg="Required"
        is-required="true"
        is-disabled="true">
</gg-select>
<gg-select err-class="error"
        lbl="{{'wo-split.labels.wo-email' | i18n}}" 
        form-group-class="col-sm-6" 
        options="wo_emailoptions" 
        ng-model="fmData.wo_email"
        regexp="singlespaces"
        regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
        req-msg="Required"
        is-required="true"
        is-disabled="true">
</gg-select>
<gg-submit lbl="Submit"
        form-group-class="col-sm-12" 
        ng-disabled="ggform.$invalid || pr_inactive || mt_inactive || splitted"
        btn-class="col-xs-12 col-sm-4 col-md-2">
</gg-submit> 
</form>