/* Animations */
.ngview.ng-enter {
  -webkit-animation: 0.5s bounceInRight;
  -moz-animation: 0.5s bounceInRight;
  -o-animation: 0.5s bounceInRight;
  animation: 0.5s bounceInRight;
}

.ngview.ng-leave {
  -webkit-animation: 0.5s bounceOutLeft;
  -moz-animation: 0.5s bounceOutLeft;
  -o-animation: 0.5s bounceOutLeft;
  animation: 0.5s bounceOutLeft;
}
