$color: #fff;

$bg: #5cb85c;
$border: #4cae4c;

$hoverBg: #47a447;
$hoverBorder: #398439;

#menu, #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu {
    width: 100%;
    border: 1px solid $border;
    background-color: $bg;
    background-image: linear-gradient($border, $bg);
    border-radius: 6px;
}

#menu:before,
#menu:after {
    content: "";
    display: table;
}

#menu:after {
    clear: both;
}

#menu {
    zoom:1;
}

#menu li {
    float: left;
    box-shadow: 1px 0 0 $hoverBg;
    position: relative;
}

#menu a {
    float: left;
    padding: 12px 30px;
    color: $color;
    text-transform: uppercase;
    text-decoration: none;
}

#menu li:hover > a {
    background: $hoverBg;
    color: $color;
}

* html #menu li a:hover { /* IE6 only */
    color: $color;
}

#menu ul {
    z-index: auto;
    margin: 20px 0 0 0;
    _margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1000;    
    background: $bg;   
    background-image: linear-gradient($border, $bg);
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);  
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

#menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#menu ul ul {
    z-index: auto;
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6 only*/
    box-shadow: -1px 0 0 rgba(255,255,255,.3);      
}

#menu ul li {
    float: none;
    display: block;
    border: 0;
    _line-height: 0; /*IE6 only*/
    box-shadow: 0 1px 0 $hoverBg;
}

#menu ul li:last-child {   
    box-shadow: none;    
}

#menu ul a {    
    padding: 10px;
    width: 130px;
    _height: 10px; /*IE6 only*/
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

#menu ul a:hover {
    background-color: $hoverBg;
    background-image: linear-gradient($hoverBg, $hoverBg);
}

#menu ul li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
}

#menu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0; 
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #fff;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #fff; 
}

#menu ul ul li:first-child a:hover:after {
    border-right-color: #fff; 
    border-bottom-color: transparent;   
}

#menu ul li:last-child > a {
    border-radius: 0 0 3px 3px;
}