<div class="col-sm-12">
    <h3>{{'shippingList.title' | i18n}}</h3>
    <div ng-click="exportXLS()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> XLS</div><br><br> 
    <span ng-if="loading">Cargando...</span>
</div>

<!-- Modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="cancelModalLabel">LISTA DE EMBARQUE</h4>
            </div>
            <div class="modal-body">
                <span>La(s) siguiente(s) orden(es) de trabajo <b>{{ shippingList.wo_id }}</b> se marcara(n) como NO embarcada(s)</b>, desea continuar?</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">{{'general.labels.close' | i18n}}</button>
                <button class="btn btn-primary" ng-click="cancel()">{{'general.labels.submit' | i18n}}</button>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <wj-flex-grid 
      control="ggGrid" 
      items-source="data"
      auto-generate-columns="false" 
      initialized="initGrid(s,e)"
      item-formatter="itemFormatter" 
      format-item="formatItem(s,e,cell)" 
      allow-sorting="true" 
      show-sort="true" 
      style="height:390px;">
      <wj-flex-grid-filter></wj-flex-grid-filter>
      <wj-flex-grid-column
        header="{{'shippingList.labels.sl-id' | i18n}}" 
        binding="sl_id"        
        is-read-only="true" 
        width="60">
      </wj-flex-grid-column>
      <wj-flex-grid-column
        header="Acciones" 
        binding="actions"        
        is-read-only="true" 
        width="200">
        <wj-flex-grid-cell-template 
            cell-type="Cell">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <a ng-click="open('shippingListView', $item)" class="btn btn-success btn-xs">{{'general.labels.open' | i18n}}</a>
                </div>
                <div class="btn-group" role="group">
                    <a ng-click="open('shippingListReleaseInvoice',$item)" ng-disabled="$item.sl_cancelled" class="btn btn-success btn-xs">{{'shippingList.labels.release-invoice' | i18n}}</a>
                </div>
                <div class="btn-group" role="group">
                <a ng-click="cancelModal($item)" ng-disabled="$item.sl_cancelled" class="btn btn-danger btn-xs">{{'general.labels.cancel' | i18n}}</a>
                </div>
           </div>
        </wj-flex-grid-cell-template>
      </wj-flex-grid-column>
    </wj-flex-grid>
</div>
