/* Animations */

$enter: bounceInRight;
$enter-animation-time: 0.5s;
$leave: bounceOutLeft;
$leave-duration-time: 0.5s;

.ngview.ng-enter {
    -webkit-animation:$enter-animation-time $enter;
    -moz-animation:$enter-animation-time $enter;
    -o-animation:$enter-animation-time $enter;
    animation:$enter-animation-time $enter;
}
.ngview.ng-leave {
    -webkit-animation:$leave-duration-time $leave;
    -moz-animation:$leave-duration-time $leave;
    -o-animation:$leave-duration-time $leave;
    animation:$leave-duration-time $leave;
}