@import 'variables';

/*
********************************************
LAYOUT
********************************************
*/
body {
    background:$body-bg;
    color: $body-color;
    font-family: $body-font;
    margin-left:auto;
	margin-right:auto;
    padding:0;
    font-size:100%;
}
.page-wrapper {
    overflow:hidden;
    font-size: 1.25em;
    margin-top: 65px;
}
.header-wrapper, .nav-wrapper, .content-wrapper, .aside-wrapper {
    background: $layout-bg;
    display:block;
}

.header-wrapper {
    margin: 1em 0 0 0;
    border-top:$layout-border;
    border-left:$layout-border;
    border-right:$layout-border;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}
.nav-wrapper {
    border-left:$layout-border;
    border-right:$layout-border;
    margin: 0;
    padding: 0;
}
.content-wrapper {
    min-height:44em;
    border-top:$layout-border;
    border-left:$layout-border;
    border-right:$layout-border;
    border-bottom:$layout-border;
    border-radius: .5em;
    margin: 0;
    padding: 0 0 1em 0;
}
@media (min-width: 768px) { 
    .content-wrapper {
        padding: 0;
    }
}
.footer-wrapper {
    margin: 0;
    padding:$layout-padding;
}
/*
********************************************
HTML TAGS
********************************************
*/

a, a:visited {
	text-decoration:none;
	color:#333;
}
a:hover {
	text-decoration:underline;
}

h1 {
    font-size:2em;
    margin-bottom:12px;
}
h2 {
    font-size:1.75em;
    margin-bottom:12px;
}
h3 {
    font-size:1.5em;
    margin-bottom:12px;
}
h4 {
    font-size:1.25em;
    margin-bottom:12px;
}
/*
********************************************
CLASSES
********************************************
*/
.action_buttons {
    margin-bottom: 1em;
}
.text_left {
    text-align:left;
}
.text_right {
    text-align:right;
}

.gg-grid {
    overflow: auto;
}

.gg-grid thead tr th {

    white-space: nowrap;
    vertical-align: middle;
}
.brand-logo {
    height:25px;
}
.logo {
    height: 6em;
    width: auto
}
.field-info {
    border-radius: 5px;
    padding: 15px;
}
.pr-info {
    border-radius: 4px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.product-left-headers {
    text-align: right;
}
/*
********************************************
VIEWS
********************************************
*/

.homeView,.loginView, .clientView {
    display:block;
}
.homeView {
}
.loginView {
}
/*
********************************************
CHROME AUTOFILL COLOR FIX
********************************************
*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
/*
********************************************
AUTH0 LOGO
********************************************
*/

.auth0-lock-header-logo {
    width: 58px !important;
    height: 58px !important;
}

/*
********************************************
WIJMO
********************************************
*/

.wj-cell.wj-state-selected a.link {
    color: #fff;
}