<div class="userView">
    <h3>{{'USER.TITLE' | i18n}}</h3>
    <span ng-if="loading">Cargando...</span>
    <wj-flex-grid items-source="data" auto-generate-columns="false" initialized="initGrid(s,e)" style="height:390px;">
        <wj-flex-grid-column is-read-only="true">
            <span class="btn btn-xs btn-success" ng-click="edit($item.us_id)">{{'general.buttons.edit' | i18n}}</span>
            <span class="btn btn-xs btn-success" ng-click="edit($item.us_id)">Registro de actividad</span>
        </wj-flex-grid-column>
    </wj-flex-grid>
</div>