<div class="col-sm-12">
    <h3>{{'shippingList-invoice.title' | i18n}}</h3>
    <span ng-if="loading">Cargando...</span>   
</div>

<div class="col-sm-12">
            <div class="col-sm-12 fieldset">
                <div class="btn btn-success btn-xs" ng-click="disableXLS || exportXLS()" ng-disabled="disableXLS"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> XLS</div>
                <span ng-if="(data.length >= 0)">
                    <strong>Ordenes:</strong> {{ data.length }}
                </span><br/><br/>  
            </div>
            <wj-flex-grid 
                control="ggGrid"
                auto-generate-columns="false"
                initialized="initGrid(s,e)"
                items-source="data"
                allow-sorting="false" 
                style="height:390px;">
            </wj-flex-grid><br/><br/>
</div>