<div class="col-sm-12">
    <h3>{{'workflow.title' | i18n}}</h3>
    <div ng-click="exportXLS()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> XLS</div> 
    <div ng-click="exportPDF()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> PDF</div><br/><br/>    
    <span ng-if="loading">Cargando...</span>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">UPDATE ORDERS</h4>
      </div>
      <span ng-switch="selected">
      <div class="modal-body">
          <span ng-switch-when="true">Se van a actualizar las siguientes ordenes de trabajo <b>{{ wo_id }}</b> al status <b>"{{ next_status }}"</b>, desea continuar?</span>
          <span ng-switch-when="false">Debe seleccionar por lo menos una orden de trabajo.</span>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">{{'general.labels.close' | i18n}}</button>
        <button class="btn btn-primary" ng-click="onSubmit()" ng-switch-when="true">{{'general.labels.submit' | i18n}}</button>
      </div>
    </span>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <div class="well well-sm col-sm-6 col-xs-12">
      <form role="form" name="ggform" ng-submit="onUpdate();" novalidate>
        <gg-select err-class="error"
                lbl="{{'workflow.labels.wo-status' | i18n}}" 
                form-group-class="col-sm-6" 
                options="wo_statusoptions" 
                ng-model="fmData.wo_status"
                regexp="singlespaces"
                regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                req-msg="Required"
                is-required="false">
        </gg-select>
        <gg-select err-class="error"
                lbl="{{'workflow-custom.labels.wo-nextstatus' | i18n}}" 
                form-group-class="col-sm-6" 
                options="actions" 
                ng-model="fmData.wo_nextstatus"
                regexp="singlespaces"
                regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                req-msg="Required"
                is-required="true">
        </gg-select>
        <gg-submit lbl="Actualizar"
                data-toggle="modal" data-target="#myModal"
                form-group-class="col-xs-12 col-sm-6" 
                ng-disabled="ggform.$invalid"
                btn-class="col-xs-12 col-sm-12">
      </gg-submit>
    </form>
  </div>
</div>
<span class="col-sm-12">
    <wj-flex-grid 
    control="ggGrid" 
    items-source="data" 
    items-source-changed="itemsSourceChanged(s,e)"
    item-formatter="itemFormatter"
    format-item="formatItem(s,e,cell)" 
    auto-generate-columns="false" 
    initialized="initGrid(s,e)"
    allow-sorting="true" 
    show-sort="true" 
    style="height:390px;">
        <wj-flex-grid-filter filter-applied="onFilterApplied(s,e)"></wj-flex-grid-filter>
        <wj-flex-grid-column
        header="Active" 
        binding="active"
        data-type="Boolean">
        </wj-flex-grid-column>
        <wj-flex-grid-column
        header="Acciones" 
        binding="actions" 
        is-read-only="true" 
        width="100">
        </wj-flex-grid-column>
    </wj-flex-grid>
</span>