<div class="col-sm-12">
    <h3>{{'workflow.title' | i18n}}</h3>
    <div ng-click="exportXLS()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> XLS</div> 
    <div ng-click="exportPDF()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> PDF</div><br/><br/>    
    <span ng-if="loading">Cargando...</span>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">ACTUALIZAR ESTATUS</h4>
      </div>
      <span ng-switch="selected" ng-form name="updateForm">
      <div class="modal-body">
          <span ng-switch-when="true">
            <p><b>El estatus de las siguientes ordenes de trabajo será actualizado:</b></p>
            <p>{{ wo_id.join(', ') }}</p>
            <p><b>Estatus nuevo: </b>"{{ next_status }}"</p>
            <span ng-switch="fmData.wo_nextstatus">
                <p class="row" ng-switch-when="18">
                    <gg-textarea err-class="error"
                              lbl="Nota de cancelación" 
                              form-group-class="col-sm-12"
                              ng-model="fmData.wo_cancellationnotes"
                              height="176"
                              regexp="singlespaces"
                              regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                              req-msg="Required"
                              is-required="true">
                    </gg-textarea>
                </p>
            </span>
            <p><h4>Desea continuar?</h4></p>
          </span>
          <span ng-switch-when="false">Debe seleccionar por lo menos una orden de trabajo.</span>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">{{'general.labels.cancel' | i18n}}</button>
        <button class="btn btn-primary" ng-click="onSubmit()" ng-switch-when="true" ng-disabled="updateForm.$invalid">{{'general.labels.submit' | i18n}}</button>
      </div>
    </span>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="materialsModal" tabindex="-1" role="dialog" aria-labelledby="materialsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="materialsModalLabel">MATERIAL ORDENADO</h4>
        </div>
        <div class="modal-body">  
          <div ng-click="exportMaterialsXLS()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> XLS</div><br><br> 
          <wj-flex-grid 
            control="materialsGrid" 
            items-source="materials"
            items-source-changed="itemsSourceChanged(s,e)"
            sorted-column="onSortedColumn(s,e)"
            item-formatter="materialsItemFormatter"
            initialized="initMaterialsGrid(s,e)"
            auto-generate-columns="false"
            style="height:390px;">
          </wj-flex-grid>
      </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">{{'general.labels.close' | i18n}}</button>
        </div>
      </div>
    </div>
  </div>
      <form class="row" role="form" name="ggform" ng-submit="onUpdate();" novalidate>
        <gg-select err-class="error"
                lbl="{{'workflow.labels.wo-status' | i18n}}" 
                form-group-class="col-sm-2" 
                options="wo_statusoptions" 
                ng-model="fmData.wo_status"
                regexp="singlespaces"
                regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                req-msg="Required"
                is-required="false">
        </gg-select>
        <gg-select err-class="error"
                lbl="{{'workflow-custom.labels.wo-nextstatus' | i18n}}" 
                form-group-class="col-sm-2" 
                options="actions" 
                ng-model="fmData.wo_nextstatus"
                regexp="singlespaces"
                regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                req-msg="Required"
                is-required="true">
        </gg-select>
        <div class="form-group col-lg-1 col-sm-2 col-xs-6">
          <label class="control-label">&nbsp</label>
          <div>
              <button ng-disabled="ggform.$invalid" class="btn btn-success custom form-control" data-toggle="modal" data-target="#myModal">Actualizar</button>  
          </div>
        </div>
        <div class="form-group col-lg-1 col-sm-2 col-xs-6">
          <label class="control-label">&nbsp</label>
          <div>
              <button ng-click="materialsModal()" class="btn btn-success custom form-control">Material</button>  
          </div>
        </div>
    </form>
    <wj-flex-grid 
    control="ggGrid" 
    items-source="data" 
    item-formatter="itemFormatter"
    format-item="formatItem(s,e,cell)" 
    auto-generate-columns="false" 
    initialized="initGrid(s,e)"
    allow-sorting="true" 
    show-sort="true" 
    selection-mode="Row"
    style="height:390px;">
        <wj-flex-grid-filter filter-applied="onFilterApplied(s,e)"></wj-flex-grid-filter>
        <wj-flex-grid-column
        header="Selec."
        binding="active"
        width="80"
        data-type="Boolean">
        </wj-flex-grid-column>
        <wj-flex-grid-column
        header="Acciones" 
        binding="actions" 
        is-read-only="true" 
        width="80">
        </wj-flex-grid-column>
        <wj-flex-grid-column
        header="Archivos" 
        binding="files" 
        is-read-only="true"
        is-html="true" 
        width="200">
        </wj-flex-grid-column>
    </wj-flex-grid>
    
  </div>
