/*
********************************************
SASS VARIABLES
********************************************
*/
/*
********************************************
LAYOUT
********************************************
*/
body {
  background: #eee;
  font-family: "Open Sans", sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-size: 100%; }

.page-wrapper {
  overflow: hidden;
  font-size: 1.25em;
  margin-top: 55px; }

.header-wrapper, .nav-wrapper, .content-wrapper, .aside-wrapper {
  background: #fff;
  /*box-shadow:.01em .01em 2em #ddd;*/
  display: block;
  padding: 1em 0 1em 0; }

.header-wrapper {
  margin: 1em 0 0 0;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em; }

.nav-wrapper {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin: 0;
  padding: 0; }

.content-wrapper {
  min-height: 44em;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: .5em;
  margin: 0;
  padding: 0; }

.footer-wrapper {
  margin: 0;
  padding: 1em 0 1em 0; }

/*
********************************************
HTML TAGS
********************************************
*/
a, a:visited {
  text-decoration: none;
  color: #333; }

a:hover {
  text-decoration: underline; }

h1 {
  font-size: 2em;
  margin-bottom: 12px; }

h2 {
  font-size: 1.75em;
  margin-bottom: 12px; }

h3 {
  font-size: 1.5em;
  margin-bottom: 12px; }

h4 {
  font-size: 1.25em;
  margin-bottom: 12px; }

/*
********************************************
CLASSES
********************************************
*/
.action_buttons {
  margin-bottom: 1em; }

.text_left {
  text-align: left; }

.text_right {
  text-align: right; }

.gg-grid {
  overflow: auto; }

.gg-grid thead tr th {
  white-space: nowrap;
  vertical-align: middle; }

.brand-logo {
  height: 25px; }

.logo {
  height: 6em;
  width: auto; }

input.ng-valid {
  border: 1px solid green; }

input.ng-invalid {
  border: 1px solid red; }

input.ng-dirty {
  border: 1px solid yellow; }

/* really specific css rules applied by angular */
input.ng-invalid {
  border: 1px solid red; }

input.ng-valid {
  border: 1px solid green; }

/*
********************************************
VIEWS
********************************************
*/
.homeView, .loginView, .clientView {
  display: block; }

/*
********************************************
BOOTSTRAP OVERWRITES
********************************************
*/
.navbar-collapse {
  max-height: 100%; }

span.glyphicon-user {
  font-size: 15px; }

button[class*="col-"] {
  margin-bottom: 15px; }

.red-tooltip + .tooltip > .tooltip-inner {
  background-color: #f00; }

.red-tooltip + .tooltip > .tooltip-arrow {
  border-bottom-color: #f00; }
