<div class="col-sm-12">
    <h3>{{'material-update.title' | i18n}}</h3>
    <span ng-if="loading">Cargando...</span>
    
</div>
<form class="col-md-8" role="form" name="ggform" ng-submit="onSubmit();" novalidate>
  <gg-select err-class="error"
           lbl="{{'material.labels.su-id' | i18n}}" 
           form-group-class="col-sm-4" 
           options="su_idoptions" 
           ng-model="fmData.su_id"
           regexp="singlespaces"
           regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
           req-msg="Required"
           is-required="true"
           is-disabled="true">
  </gg-select>
  <gg-input err-class="error"
            lbl="{{'material.labels.mt-code' | i18n}}" 
            form-group-class="col-sm-4" 
            ng-model="fmData.mt_code"
            regexp="materialcode"
            regexp-msg="{{'general.regexp.materialcode' | i18n}}"
            req-msg="Required"
            is-required="true"
            is-disabled="true">
  </gg-input>
  <gg-select err-class="error"
           lbl="{{'material.labels.mt-type' | i18n}}" 
           form-group-class="col-sm-4" 
           options="mt_typeoptions" 
           ng-model="fmData.mt_type"
           regexp="singlespaces"
           regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
           req-msg="Required"
           is-required="true"
           is-disabled="true">
  </gg-select>
  <gg-textarea err-class="error"
            lbl="{{'material.labels.mt-description' | i18n}}"
            form-group-class="col-sm-4"
            ng-model="fmData.mt_description"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            height="105"
            req-msg="Required"
            is-required="true"
            is-disabled="true">
  </gg-textarea>
  <gg-input err-class="error"
            lbl="{{'material.labels.mt-width' | i18n}}"
            form-group-class="col-sm-2"
            ng-model="fmData.mt_width"
            regexp="decimal"
            regexp-msg="{{'general.regexp.decimal' | i18n}}"
            req-msg="Required"
            is-required="true"
            is-disabled="true">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'material.labels.mt-height' | i18n}}"
            form-group-class="col-sm-2"
            ng-model="fmData.mt_height"
            regexp="decimal"
            regexp-msg="{{'general.regexp.decimal' | i18n}}"
            req-msg="Required"
            is-required="true"
            is-disabled="true">
  </gg-input>
  <gg-select err-class="error"
            lbl="{{'material.labels.mt-measure' | i18n}}" 
            form-group-class="col-sm-4" 
            options="mt_measureoptions" 
            ng-model="fmData.mt_measure"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="true"
            is-disabled="true">
  </gg-select>
  <gg-input err-class="error"
            lbl="{{'material.labels.mt-weight' | i18n}}"
            form-group-class="col-sm-2"
            ng-model="fmData.mt_weight"
            regexp="decimal"
            regexp-msg="{{'general.regexp.decimal' | i18n}}"
            req-msg="Required"
            is-required="false"
            is-disabled="true">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'material.labels.mt-thickness' | i18n}}"
            form-group-class="col-sm-2"
            ng-model="fmData.mt_thickness"
            regexp="decimal"
            regexp-msg="{{'general.regexp.decimal' | i18n}}"
            req-msg="Required"
            is-required="false"
            is-disabled="true">
  </gg-input>
  <gg-select err-class="error"
            lbl="{{'material.labels.mt-thicknessmeasure' | i18n}}" 
            form-group-class="col-sm-4" 
            options="mt_thicknessmeasureoptions" 
            ng-model="fmData.mt_thicknessmeasure"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="false"
            is-disabled="true">
  </gg-select>
  <gg-select err-class="error"
           lbl="{{'material.labels.mt-status' | i18n}}" 
           form-group-class="col-sm-4" 
           options="mt_statusoptions" 
           ng-model="fmData.mt_status"
           regexp="singlespaces"
           regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
           req-msg="Required"
           is-required="true">
  </gg-select>
  <gg-submit lbl="Submit"
            form-group-class="col-sm-12" 
            ng-disabled="ggform.$invalid"
            btn-class="col-xs-12 col-sm-4  col-md-2">
  </gg-submit>
</form>