<div class="col-sm-12">
    <h3>{{'exportation-invoice.title' | i18n}}</h3>
    <span ng-if="loading">Cargando...</span>
</div>

<div class="col-md-6 col-xs-12">
    <div class="form-inline well well-lg">
        <gg-select err-class="error"
           lbl="{{'wo-add.labels.zo-id' | i18n}}" 
           form-group-class="col-sm-6" 
           options="zo_idoptions" 
           ng-model="fmData.zo_id"
           regexp="singlespaces"
           regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
           req-msg="Required"
           is-required="true">
        </gg-select>
        Release:
        <input type="text" class="form-control" ng-model="wo_release" />
        <button class="btn btn-default" ng-click="searchRelease()">Search</button>
        File Name:
        <input type="text" class="form-control" ng-model="fileName" />
        <button class="btn btn-default" ng-click="save()">Save</button>
        <!--<button class="btn btn-default" ng-click="savePdf()">Save PDF</button>-->
    </div>
</div>


<div class="col-sm-12">
    <wj-flex-sheet control="flex" initialized="initialized(s)" style="width:1200px; height:800px;">
        <wj-sheet name="Exportation Invoice"></wj-sheet>
    </wj-flex-sheet>
</div>