<div class="col-sm-12">
    <h3>{{'printruns.title' | i18n}}</h3>
    <div ng-click="exportXLS()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> XLS</div><br/><br/>
    <span ng-if="loading">Cargando...</span>
</div>
<div class="col-sm-12">
    <div class="row">
        <div class="form-group col-sm-2">
            <label class=" control-label">de <span class="glyphicon glyphicon-asterisk ng-hide" aria-hidden="true" ng-show="required"></span></label>
            <div class=""><div class="datepicker form-control" id="fromDate"></div></div>
        </div>
        <div class="form-group col-sm-2">
            <label class=" control-label">A <span class="glyphicon glyphicon-asterisk ng-hide" aria-hidden="true" ng-show="required"></span></label>
            <div class=""><div class="datepicker form-control" id="toDate"></div></div>
        </div>
    </div>
    <div class="well well-sm col-sm-2 col-xs-12">
        <button type="button" class="btn btn-default btn-xs" ng-click="ggGrid.collapseGroupsToLevel(0)">Colapsar</button>
        <button type="button" class="btn btn-default btn-xs" ng-click="ggGrid.collapseGroupsToLevel(1)">Expandir</button>
    </div>
    <wj-flex-grid 
      control="ggGrid" 
      items-source="data" 
      auto-generate-columns="false" 
      initialized="initGrid(s,e)" 
      item-formatter="itemFormatter"
      allow-sorting="true" 
      show-sort="true" 
      style="height:390px;">
      <wj-flex-grid-filter></wj-flex-grid-filter>
    </wj-flex-grid>
</div>