<div class="col-sm-12">
    <h3>{{'wo.title' | i18n}}</h3>
    <div ng-click="exportXLS()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> XLS</div> 
    <div ng-click="shippingList()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Lista de Embarque</div> 
    <div ng-click="exportationInvoice()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Factura de Exportación</div><br/><br/>
    <span ng-if="loading">Cargando...</span>
</div>
<div class="col-sm-12">
    <wj-flex-grid 
      control="ggGrid" 
      items-source="data"
      items-source-changed="itemsSourceChanged(s,e)"
      sorted-column="onSortedColumn(s,e)"
      auto-generate-columns="false" 
      initialized="initGrid(s,e)"
      item-formatter="itemFormatter" 
      format-item="formatItem(s,e,cell)" 
      allow-sorting="true" 
      show-sort="true" 
      style="height:390px;">
      <wj-flex-grid-filter filter-applied="onFilterApplied(s,e)"></wj-flex-grid-filter>
      <wj-flex-grid-column
        header="No." 
        binding="wo_id"        
        is-read-only="true" 
        width="60">
      </wj-flex-grid-column>
      <wj-flex-grid-column
        header="Acciones" 
        binding="actions"        
        is-read-only="true" 
        width="200">
      </wj-flex-grid-column>
      <wj-flex-grid-column
        header="Emb." 
        binding="shipment"
        data-type="Boolean"
        width="80">
        </wj-flex-grid-column>
      <wj-flex-grid-column
        header="Fac." 
        binding="invoice"
        data-type="Boolean"
        width="80">
        </wj-flex-grid-column>
    </wj-flex-grid>
</div>
