<div class="col-sm-12">
    <h3>{{'wo.title' | i18n}}</h3>
    <div ng-click="exportXLS()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> XLS</div> 
    <div ng-click="shippingList()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Lista de Embarque</div> 
    <div ng-click="exportationInvoice()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Factura de Exportación</div><br/><br/>
    <form class="row" role="form" name="ggform" novalidate>
    <div class="form-group col-sm-2">
            <label class="control-label">No. Orden <span class="glyphicon glyphicon-search" aria-hidden="true" ng-show="required"></span></label>
            <div class="">
                <input id="wo_id" ng-model="wo_id" class="form-control red-tooltip" type="text" name="wo_id"/>
            </div>
        </div>
      <div class="form-group col-sm-2">
          <label class="control-label">Zona <span class="glyphicon glyphicon-search" aria-hidden="true" ng-show="required"></span></label>
          <div class="">
              <input id="zo_zone" ng-model="zo_zone" class="form-control red-tooltip" type="text" name="zo_zone"/>
          </div>
      </div>
      <div class="form-group col-sm-2">
          <label class="control-label">Release <span class="glyphicon glyphicon-search" aria-hidden="true" ng-show="required"></span></label>
          <div class="">
              <input id="wo_release" ng-model="wo_release" class="form-control red-tooltip" type="text" name="wo_release"/>
          </div>
      </div>
      <div class="form-group col-sm-2">
            <label class="control-label">Orden de Compra <span class="glyphicon glyphicon-search" aria-hidden="true" ng-show="required"></span></label>
            <div class="">
                <input id="wo_po" ng-model="wo_po" class="form-control red-tooltip" type="text" name="wo_po"/>
            </div>
        </div>
      <div class="form-group col-sm-2">
            <label class="control-label">Producto <span class="glyphicon glyphicon-search" aria-hidden="true" ng-show="required"></span></label>
            <div class="">
                <input id="pr_name" ng-model="pr_name" class="form-control red-tooltip" type="text" name="pr_name"/>
            </div>
      </div>
      <gg-select err-class="error"
            lbl="{{'Mostrar' | i18n}}" 
            form-group-class="col-sm-2" 
            options="wo_dateoptions" 
            ng-model="wo_date"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="true"
            is-disabled="false">
    </gg-select>
    </form>
    <span ng-if="loading">Cargando...</span>
</div>
<div class="col-sm-12">
    <wj-flex-grid 
      control="ggGrid" 
      items-source="data"
      items-source-changed="itemsSourceChanged(s,e)"
      auto-generate-columns="false" 
      initialized="initGrid(s,e)"
      item-formatter="itemFormatter" 
      format-item="formatItem(s,e,cell)" 
      allow-sorting="false" 
      style="height:390px;">
      <wj-flex-grid-column
        header="No." 
        binding="wo_id"        
        is-read-only="true"
        filter-type="0" 
        width="60">
      </wj-flex-grid-column>
      <wj-flex-grid-column
        header="Acciones" 
        binding="actions"        
        is-read-only="true" 
        width="200">
      </wj-flex-grid-column>
      <wj-flex-grid-column
        header="Emb." 
        binding="shipment"
        data-type="Boolean"
        width="80">
        </wj-flex-grid-column>
        <wj-flex-grid-column
        header="{{'wo.labels.wo-shippinglist' | i18n}}" 
        binding="wo_shippinglist"
        data-type="Boolean"
        width="80"
        is-read-only="true">
        </wj-flex-grid-column>
      <wj-flex-grid-column
        header="Fac." 
        binding="invoice"
        data-type="Boolean"
        width="80">
        </wj-flex-grid-column>
        <wj-flex-grid-column
        header="{{'wo.labels.wo-exportationinvoice' | i18n}}" 
        binding="wo_exportationinvoice"
        data-type="Boolean"
        width="80"
        is-read-only="true">
        </wj-flex-grid-column>
    </wj-flex-grid>
</div>
