<div class="col-sm-12">
    <h3>{{'supplier-update.title' | i18n}}</h3>
    <span ng-if="loading">Cargando...</span>
    
    {{ggform.su_corporatename.$error.required | json}}
</div>
<form class="col-md-8" role="form" name="ggform" ng-submit="onSubmit();" novalidate>
  <gg-select err-class="error"
           lbl="{{'supplier.labels.su-type' | i18n}}" 
           form-group-class="col-sm-3" 
           options="su_typeoptions" 
           ng-model="fmData.su_type"
           regexp="singlespaces"
           regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
           req-msg="Required"
           is-disabled="true"
           is-required="true">
  </gg-select>
  <gg-input err-class="error"
            lbl="{{'supplier.labels.su-rfc' | i18n}}" 
            form-group-class="col-sm-3" 
            ng-model="fmData.su_rfc"
            regexp="rfc"
            regexp-msg="{{'general.regexp.rfc' | i18n}}"
            req-msg="Required"
            is-disabled="true"
            is-required="true">
  </gg-input>
  <span ng-if="(fmData.su_type=='legal')">
  <gg-input err-class="error"
            lbl="{{'supplier.labels.su-corporatename' | i18n}}" 
            form-group-class="col-sm-6"
            ng-model="fmData.su_corporatename"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="true">
  </gg-input>
  </span>
  <label class="col-sm-12 fieldset"></label>
  <gg-input err-class="error"
            lbl="{{'supplier.labels.su-name' | i18n}}"
            form-group-class="col-sm-4"
            ng-model="fmData.su_name"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="true">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'supplier.labels.su-firstsurname' | i18n}}"
            form-group-class="col-sm-4"
            ng-model="fmData.su_firstsurname"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="true">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'supplier.labels.su-secondsurname' | i18n}}"
            form-group-class="col-sm-4"
            ng-model="fmData.su_secondsurname"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="false">
  </gg-input>
  <gg-countries err-class="error"
           lbl="{{'supplier.labels.su-country' | i18n}}" 
           form-group-class="col-sm-3" 
           options="su_countryoptions" 
           ng-model="fmData.su_country"
           ng-change="getStates()"
           regexp="singlespaces"
           regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
           req-msg="Required"
           is-required="true">
  </gg-countries>
  <gg-input err-class="error"
            lbl="{{'supplier.labels.su-state' | i18n}}"
            form-group-class="col-sm-3" 
            ng-model="fmData.su_state"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="true">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'supplier.labels.su-city' | i18n}}"
            form-group-class="col-sm-3" 
            ng-model="fmData.su_city"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="true">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'supplier.labels.su-county' | i18n}}"
            form-group-class="col-sm-3" 
            ng-model="fmData.su_county"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="false">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'supplier.labels.su-street' | i18n}}"
            form-group-class="col-sm-4" 
            ng-model="fmData.su_street"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="true">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'supplier.labels.su-streetnumber' | i18n}}"
            form-group-class="col-sm-4"
            ng-model="fmData.su_streetnumber"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="true">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'supplier.labels.su-suitenumber' | i18n}}"
            form-group-class="col-sm-4"

            ng-model="fmData.su_suitenumber"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="false">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'supplier.labels.su-neighborhood' | i18n}}"
            form-group-class="col-sm-4"

            ng-model="fmData.su_neighborhood"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="true">
  </gg-input>
          <gg-input err-class="error"
            lbl="{{'supplier.labels.su-zipcode' | i18n}}"
            form-group-class="col-sm-4"
            ng-model="fmData.su_zipcode"
            regexp="zipcode"
            regexp-msg="{{'general.regexp.zipcode' | i18n}}"
            req-msg="Required"
            is-required="true">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'supplier.labels.su-addressreference' | i18n}}"
            form-group-class="col-sm-4"
            ng-model="fmData.su_addressreference"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="false">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'supplier.labels.su-email' | i18n}}"
            form-group-class="col-sm-4"
            ng-model="fmData.su_email"
            regexp="email"
            regexp-msg="{{'general.regexp.email' | i18n}}"
            req-msg="Required"
            is-required="true">
  </gg-input>
  <gg-phone err-class="error"
            lbl="{{'supplier.labels.su-phone' | i18n}}"
            form-group-class="col-sm-3"
            ng-model="fmData.su_phone"
            regexp="phone"
            regexp-msg="{{'general.regexp.phone' | i18n}}"
            req-msg="Required"
            is-required="true">
  </gg-phone>
  <gg-input err-class="error"
            lbl="{{'supplier.labels.su-phoneextension' | i18n}}"
            form-group-class="col-sm-1"
            ng-model="fmData.su_phoneextension"
            regexp="integer"
            regexp-msg="{{'general.regexp.integer' | i18n}}"
            req-msg="Required"
            is-required="false">
  </gg-input>
  <gg-phone err-class="error"
            lbl="{{'supplier.labels.su-mobile' | i18n}}"
            form-group-class="col-sm-4"
            ng-model="fmData.su_mobile"
            regexp="phone"
            regexp-msg="{{'general.regexp.phone' | i18n}}"
            req-msg="Required"
            is-required="true">
  </gg-phone>
  <label class="col-sm-12 fieldset">ESTATUS</label>
  <gg-select err-class="error"
           lbl="{{'supplier.labels.su-status' | i18n}}" 
           form-group-class="col-sm-4" 
           options="su_statusoptions" 
           ng-model="fmData.su_status"
           regexp="singlespaces"
           regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
           req-msg="Required"
           is-required="true">
  </gg-select>
  <label class="col-sm-12 fieldset"></label>
  <gg-submit lbl="Submit"
            form-group-class="col-sm-12" 
            ng-disabled="ggform.$invalid"
            btn-class="col-xs-12 col-sm-4  col-md-2">
  </gg-submit>
</form>