<div class="col-sm-12">
    <h3>{{'ink-add.title' | i18n}}</h3>
    
</div>
<form class="col-sm-6" role="form" name="ggform" ng-submit="onSubmit();" novalidate>
  <gg-select err-class="error"
           lbl="{{'ink.labels.su-id' | i18n}}" 
           form-group-class="col-sm-6" 
           options="su_idoptions" 
           ng-model="fmData.su_id"
           regexp="singlespaces"
           regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
           req-msg="Required"
           required>
  </gg-select>
  <gg-input err-class="error"
            lbl="{{'ink.labels.in-code' | i18n}}" 
            form-group-class="col-sm-6" 
            ng-model="fmData.in_code"
            regexp="inkcode"
            regexp-msg="{{'general.regexp.inkcode' | i18n}}"
            req-msg="Required"
            required>
  </gg-input>
  <gg-textarea err-class="error"
            lbl="{{'ink.labels.in-description' | i18n}}"
            form-group-class="col-sm-6"
            ng-model="fmData.in_description"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            height="106"
            req-msg="Required"
            required>
  </gg-textarea>
  <gg-select err-class="error"
           lbl="{{'ink.labels.in-type' | i18n}}" 
           form-group-class="col-sm-6" 
           options="in_typeoptions" 
           ng-model="fmData.in_type"
           regexp="singlespaces"
           regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
           req-msg="Required"
           required>
  </gg-select>
  <gg-input err-class="error"
            lbl="{{'ink.labels.in-price' | i18n}}"
            form-group-class="col-sm-6"
            ng-model="fmData.in_price"
            regexp="decimal"
            regexp-msg="{{'general.regexp.decimal' | i18n}}"
            req-msg="Required"
            required>
  </gg-input>
  <gg-select err-class="error"
           lbl="{{'ink.labels.in-status' | i18n}}" 
           form-group-class="col-sm-6" 
           options="in_statusoptions" 
           ng-model="fmData.in_status"
           regexp="singlespaces"
           regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
           req-msg="Required"
           required>
  </gg-select>
  <gg-submit lbl="Submit"
            form-group-class="col-sm-12" 
            ng-disabled="ggform.$invalid"
            btn-class="col-xs-12 col-sm-4  col-md-2">
  </gg-submit>
</form>