<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- Setting the right viewport -->
<!-- ensure IE uses the latest version of IE -->
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Grupo Gráfico de México S.A. de C.V.</title>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
</head>

<body ng-app="app" ng-controller="appCtrl">
    
    <nav ng-if="authService.isAuthenticated()" class="navbar-default nav-wrapper navbar-fixed-top" ng-cloak>
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript:void(0);"><img src="static/img/brand-logo.png" class="brand-logo"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ng-class="{active: currentState.name==='home'}"><a ui-sref="home">DASHBOARD <span class="sr-only">(current)</span></a></li>
            <li ng-class="{active: currentState.name==='workflow'}"><a ui-sref="workflow">WORKFLOW<span class="sr-only">(current)</span></a></li>
            <li ng-class="{active: currentState.name==='client'}"><a ui-sref="client">CLIENTES <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">REPORTES <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a ui-sref="tlrAll">REPORTE SEMAFORO</a></li>
                <li ng-if="authService.userHasRole(['admin'])"><a ui-sref="printruns" target="_blank">TIRAJES</a></li>                
                <li ng-if="authService.userHasRole(['owner','admin_support'])"><a ui-sref="printrunsByUser" target="_blank">TIRAJES POR USUARIO</a></li>                
                <li ng-if="authService.userHasRole(['owner','admin_support'])"><a ui-sref="printrunsByUser2" target="_blank">TIRAJES POR USUARIO (PRODUCCIÓN)</a></li>                
                <li ng-if="authService.userHasRole(['owner','admin_support'])"><a ui-sref="materialCount" target="_blank">RECUENTO DE MATERIAL</a></li>                
                <li ng-if="authService.userHasRole(['owner'])"><a ui-sref="earningsByStatus" target="_blank">GANANCIAS POR ESTATUS</a></li>                
                <li><a ui-sref="packageLabels" target="_blank">ETIQUETAS DE EMPAQUE</a></li>                
                <li><a ui-sref="woGenerator">GENERADOR DE ORDENES</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">MATERIAL Y EQUIPO <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a ui-sref="supplier">PROVEEDORES</a></li>
                <li><a ui-sref="machine">MAQUINAS</a></li>
                <li><a ui-sref="material">MATERIAL</a></li>
                <li><a ui-sref="ink">TINTAS</a></li>
              </ul>
            </li>
            <li ng-if="authService.userHasRole(['owner'])" class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">AJUSTES<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a ui-sref="users">USUARIOS</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li ng-if="profile"><a ui-sref="userProfile" ng-bind="profile.username"></a></li>
                <li ng-if="profile" class="divider"></li>
                <li><a href="javascript:void(0);">Ayuda</a></li>
                <li><a href="javascript:void(0);">Reportar un problema</a></li>
                <li class="divider"></li>
                <li ng-if="!authService.isAuthenticated()"><a href="javascript:void(0);" ng-click="authService.login()">Iniciar sesión</a></li>
                <li ng-if="authService.isAuthenticated()"><a href="javascript:void(0);" ng-click="authService.logout()">Cerrar sesión</a></li>
              </ul>
            </li>
          </ul>
          <span class="nav navbar-nav navbar-right">
              <li>
                <a href="javascript:void(0);" class="expiration-time">
                  <timer end-time="authService.getExpiration()"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{hhours}}:{{mminutes}}:{{sseconds}}</timer>                
                </a>
            </li>
          </span>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
    <div ng-class="{'is-authenticated': authService.isAuthenticated()}" class="container-fluid page-wrapper">
        <!--<header class="row header-wrapper">
            <div class="col-sm-12">
               <a ng-click="lang('es-MX')">es-MX</a> | <a ng-click="lang('en-US')">en-US</a>
            </div>
        </header>-->
        
        <section class="row content-wrapper">
            <div class="ngview" ui-view>
                
            </div>
        </section>
        <footer class="row footer-wrapper">
            <div>
                <span ng-bind="copyright"></span>
            </div>
        </footer>
    </div>
</body>

</html>