<div class="woAddView">
    <div class="col-sm-12">
        <h3>{{'wo-update.title' | i18n}}</h3>
    </div>
    <span ng-if="loading">Cargando...</span>
    <label class="col-sm-12 fieldset">
    {{'wo-add.labels.wo-id' | i18n}}: {{wo_id}}<br/>
    {{'wo-add.labels.wo-date' | i18n}}: {{wo_date}}<br/>
    </label>
    <form class="row col-sm-6" role="form" name="ggform" ng-submit="onSubmit();" novalidate>
    <gg-select err-class="error"
           lbl="{{'wo-add.labels.zo-id' | i18n}}" 
           form-group-class="col-sm-6" 
           options="zo_idoptions" 
           ng-model="fmData.zo_id"
           regexp="singlespaces"
           regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
           req-msg="Required"
           is-required="true"
           is-disabled="true">
  </gg-select>
  <gg-input err-class="error"
            lbl="{{'wo-add.labels.wo-orderedby' | i18n}}" 
            form-group-class="col-sm-6"
            ng-model="fmData.wo_orderedby"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="true"
            is-disabled="true">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'wo-add.labels.wo-attention' | i18n}}" 
            form-group-class="col-sm-6"
            ng-model="fmData.wo_attention"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="true"
            is-disabled="true">
  </gg-input>          
  <gg-select err-class="error"
           lbl="{{'wo-add.labels.ma-id' | i18n}}" 
           form-group-class="col-sm-6" 
           options="ma_idoptions" 
           ng-model="fmData.ma_id"
           regexp="singlespaces"
           regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
           req-msg="Required"
           is-required="true"
           is-disabled="true">
  </gg-select>
  <gg-input err-class="error"
            lbl="{{'wo-add.labels.wo-release' | i18n}}" 
            form-group-class="col-sm-6"
            ng-model="fmData.wo_release"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'wo-add.labels.wo-po' | i18n}}" 
            form-group-class="col-sm-6"
            ng-model="fmData.wo_po"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required">
  </gg-input>
  <label class="col-sm-12 fieldset">LINEA</label>
  <gg-input err-class="error"
            lbl="{{'wo-add.labels.wo-line' | i18n}}" 
            form-group-class="col-sm-3"
            ng-model="fmData.wo_line"
            regexp="integer"
            regexp-msg="{{'general.regexp.integer' | i18n}}"
            req-msg="Required">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'wo-add.labels.wo-linetotal' | i18n}}" 
            form-group-class="col-sm-3"
            ng-model="fmData.wo_linetotal"
            regexp="integer"
            regexp-msg="{{'general.regexp.integer' | i18n}}"
            req-msg="Required">
  </gg-input>
  <label class="col-sm-12 fieldset">PRODUCTO</label>
  <gg-select err-class="error"
           lbl="{{'wo-add.labels.pr-id' | i18n}}" 
           form-group-class="col-sm-12" 
           options="pr_idoptions" 
           ng-model="fmData.pr_id"
           regexp="singlespaces"
           regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
           req-msg="Required"
           is-required="true"
           is-disabled="true">
  </gg-select>
  <label ng-show="prinfo" class="col-sm-12 fieldset">
    ID: {{product['pr_id']}}<br/>
    Name: {{product['pr_jsonb']['pr_name']}}<br/>
    Part No: {{product['pr_jsonb']['pr_partno']}}<br/>
    Code: {{product['pr_jsonb']['pr_code']}}<br/>
    Folios: {{product['pr_jsonb']['pr_folio']}}<br/><br/>
  </label>
  
  <gg-input err-class="error"
            lbl="{{'wo-add.labels.wo-qty' | i18n}}" 
            form-group-class="col-sm-4"
            ng-model="fmData.wo_qty"
            regexp="integer"
            regexp-msg="{{'general.regexp.integer' | i18n}}"
            req-msg="Required"
            is-required="true"
            is-disabled="true">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'wo-add.labels.wo-packageqty' | i18n}}" 
            form-group-class="col-sm-4"
            ng-model="fmData.wo_packageqty""
            regexp="integer"
            regexp-msg="{{'general.regexp.integer' | i18n}}"
            req-msg="Required"
            is-required="true"
            is-disabled="true">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'wo-add.labels.wo-excedentqty' | i18n}}" 
            form-group-class="col-sm-4"
            ng-model="fmData.wo_excedentqty"
            regexp="integer"
            regexp-msg="{{'general.regexp.integer' | i18n}}"
            req-msg="Required"
            is-required="true"
            is-disabled="true">
  </gg-input>
  <span ng-if="folio">
  <label class="col-sm-12 fieldset">FOLIOS</label>
  <gg-select err-class="error"
           lbl="{{'wo-add.labels.wo-foliosperformat' | i18n}}" 
           form-group-class="col-sm-3" 
           options="wo_foliosperformatoptions" 
           ng-model="fmData.wo_foliosperformat"
           regexp="singlespaces"
           regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
           req-msg="Required"
           is-required="true"
           is-disabled="true">
  </gg-select>
  <gg-input err-class="error"
            lbl="{{'wo-add.labels.wo-foliosseries' | i18n}}" 
            form-group-class="col-sm-3"
            ng-model="fmData.wo_foliosseries"
            regexp="uppercase"
            regexp-msg="{{'general.regexp.uppercase' | i18n}}"
            req-msg="Required"
            is-required="true"
            is-disabled="true">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'wo-add.labels.wo-foliosfrom' | i18n}}" 
            form-group-class="col-sm-3"
            ng-model="fmData.wo_foliosfrom"
            regexp="integer"
            regexp-msg="{{'general.regexp.integer' | i18n}}"
            req-msg="Required"
            is-required="true"
            is-disabled="true">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'wo-add.labels.wo-foliosto' | i18n}}" 
            form-group-class="col-sm-3"
            ng-model="fmData.wo_foliosto"
            regexp="integer"
            regexp-msg="{{'general.regexp.integer' | i18n}}"
            req-msg="Required"
            is-required="true"
            is-disabled="true">
  </gg-input>
  </span>
  <label class="col-sm-12 fieldset">ORDEN</label>
  <gg-textarea err-class="error"
            lbl="{{'wo-add.labels.wo-notes' | i18n}}" 
            form-group-class="col-sm-6"
            ng-model="fmData.wo_notes"
            height="176"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-disabled="true">
  </gg-textarea>
  <gg-input err-class="error"
            lbl="{{'wo-add.labels.wo-commitmentdate' | i18n}}" 
            form-group-class="col-sm-6"
            ng-model="fmData.wo_commitmentdate"
            regexp="date"
            regexp-msg="{{'general.regexp.date' | i18n}}"
            req-msg="Required"
            is-required="true">
  </gg-input>
  <gg-input err-class="error"
            lbl="{{'wo-add.labels.wo-price' | i18n}}" 
            form-group-class="col-sm-3"
            ng-model="fmData.wo_price"
            regexp="decimal"
            regexp-msg="{{'general.regexp.decimal' | i18n}}"
            req-msg="Required"
            is-required="true"
            is-disabled="true">
  </gg-input>
  <gg-select err-class="error"
           lbl="{{'wo-add.labels.wo-currency' | i18n}}" 
           form-group-class="col-sm-3" 
           options="wo_currencyoptions" 
           ng-model="fmData.wo_currency"
           regexp="singlespaces"
           regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
           req-msg="Required"
           is-required="true"
           is-disabled="true">
  </gg-select>
  <gg-select err-class="error"
           lbl="{{'wo-add.labels.wo-email' | i18n}}" 
           form-group-class="col-sm-6" 
           options="wo_emailoptions" 
           ng-model="fmData.wo_email"
           regexp="singlespaces"
           regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
           req-msg="Required"
           is-required="true"
           is-disabled="true">
  </gg-select>
  <gg-submit lbl="Submit"
            form-group-class="col-sm-12" 
            ng-disabled="ggform.$invalid"
            btn-class="col-xs-12 col-sm-4 col-md-2">
  </gg-submit> 
    </form>
</div>