<div class="woAddView">
    <h3>{{'WO_ADD.TITLE' | i18n}}</h3>
    <span ng-if="loading">Cargando...</span>
    <form class="form-horizontal" role="form" name="ggform" ng-submit="onSubmit();" novalidate>
    <gg-input err-class="error"
                lbl="{{'client.labels.cl-corporatename' | i18n}}" 
                lbl-class="col-lg-2" 
                fld-class="col-lg-3"
                name="cl_corporatename"
                ng-model="fmData.cl_corporatename"
                regexp="singleSpaces"
                regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                req-msg="Required"
                disabled
                required>
      </gg-input>
        ({{client.cl_name}} {{client.cl_fatherslastname}} {{client.cl_motherslastname}})
    </form>
</div>