<div class="woAddView">
    <h3>{{'WO_ADD.TITLE' | i18n}}</h3>
    <span ng-if="loading">Cargando...</span>
    <table>
    <tr>
        <td>CLIENTE:</td>
        <td><select ng-options="client.name for client in clients" id="cl_id" name="cl_id" ng-model="wo.cl_id" ng-required="true"></select></td>
        <td>PRODUCTO:</td>
        <td><select ng-options="client.name for client in clients" id="cl_id" name="cl_id" ng-model="wo.cl_id" ng-required="true"></select></td>
    </tr>
    </table>
</div>