<div class="col-sm-12">
    <h4>{{'productOffsetPaginated-add.title' | i18n}}</h4>
    <h4>Processo: {{fmData.pr_process}}</h4>
    <h4>Tipo: {{fmData.pr_type}}</h4>
    
    <h4>Cliente: {{ client }}</h4>
    
</div>
<div class="col-sm-12">
<form class="row" role="form" name="ggform" ng-submit="onSubmit();" novalidate>
    <gg-input err-class="error"
            lbl="{{'productOffsetGeneral-add.labels.pr-partno' | i18n}}" 
            form-group-class="col-sm-3"
            ng-model="fmData.pr_partno"
            regexp="partno"
            regexp-msg="{{'general.regexp.partno' | i18n}}"
            req-msg="Required"
            is-required="true">
    </gg-input>
    <gg-input err-class="error"
            lbl="{{'productOffsetGeneral-add.labels.pr-code' | i18n}}" 
            form-group-class="col-sm-3"
            ng-model="fmData.pr_code"
            regexp="prcode"
            regexp-msg="{{'general.regexp.prcode' | i18n}}"
            >
    </gg-input>
    <gg-select err-class="error"
            lbl="{{'productOffsetGeneral-add.labels.pr-language' | i18n}}" 
            form-group-class="col-sm-3" 
            options="pr_languageoptions" 
            ng-model="fmData.pr_language"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="true">
    </gg-select>
    <gg-input err-class="error"
            lbl="{{'productOffsetGeneral-add.labels.pr-weight' | i18n}}" 
            form-group-class="col-sm-3"
            ng-model="fmData.pr_weight"
            regexp="decimal"
            regexp-msg="{{'general.regexp.decimal' | i18n}}"
            req-msg="Required"
            is-required="false">
    </gg-input>
    <gg-input err-class="error"
            lbl="{{'productOffsetPaginated-add.labels.pr-name' | i18n}}" 
            form-group-class="col-sm-12"
            ng-model="fmData.pr_name"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="true">
    </gg-input>
    <gg-textarea err-class="error"
            lbl="{{'productOffsetPaginated-add.labels.pr-description' | i18n}}" 
            form-group-class="col-sm-12"
            ng-model="fmData.pr_description"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            height="106"
            req-msg="Required"
            is-required="true">
    </gg-textarea>
    <label class="col-sm-12 fieldset">TAMAÑO FINAL</label>
    <gg-input err-class="error"
            lbl="{{'productOffsetPaginated-add.labels.pr-finalsizewidth' | i18n}}" 
            form-group-class="col-sm-4"
            ng-model="fmData.pr_finalsizewidth"
            regexp="decimal"
            regexp-msg="{{'general.regexp.decimal' | i18n}}"
            req-msg="Requi∫red"
            is-required="true">
    </gg-input>
    <gg-input err-class="error"
            lbl="{{'productOffsetPaginated-add.labels.pr-finalsizeheight' | i18n}}" 
            form-group-class="col-sm-4"
            ng-model="fmData.pr_finalsizeheight"
            regexp="decimal"
            regexp-msg="{{'general.regexp.decimal' | i18n}}"
            req-msg="Required"
            is-required="true">
    </gg-input>
    <gg-select err-class="error"
            lbl="{{'productOffsetPaginated-add.labels.pr-finalsizemeasure' | i18n}}" 
            form-group-class="col-sm-4" 
            options="pr_finalsizemeasureoptions" 
            ng-model="fmData.pr_finalsizemeasure"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="true">
    </gg-select>
    <gg-select err-class="error"
            lbl="{{'productOffsetPaginated-add.labels.pr-components' | i18n}}" 
            form-group-class="col-sm-4" 
            options="pr_componentsoptions" 
            ng-model="fmData.pr_components"
            regexp="singlespaces"
            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
            req-msg="Required"
            is-required="true">
    </gg-select>
    <div class="col-sm-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs row" role="tablist">
        <li ng-repeat="c in components track by $index" role="presentation" ng-class="{'active': $index===0}"><a href="#component{{$index}}" target="_self" aria-controls="component{{$index}}" role="tab" data-toggle="tab">Comp. {{$index+1}}</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content row">
        <div ng-repeat="c in components track by $index" ng-init="componentIndex = $index" role="tabpanel" class="tab-pane" ng-class="{'active': $index===0}" id="component{{$index}}">
            <gg-input err-class="error"
                        lbl="{{'productOffsetPaginated-add.labels.pr-pages' | i18n}}" 
                        form-group-class="col-sm-6"
                        ng-model="fmData.pr_pages[componentIndex]"
                        regexp="integer"
                        regexp-msg="{{'general.regexp.integer' | i18n}}"
                        req-msg="Required"
                        is-required="true">
            </gg-input>
            <label class="col-sm-12 fieldset">TINTAS</label>
            <gg-select err-class="error"
                    lbl="{{'productOffsetPaginated-add.labels.pr-inkfront' | i18n}}" 
                    form-group-class="col-sm-3" 
                    options="pr_inkfrontoptions" 
                    ng-model="fmData.pr_inkfront[componentIndex]"
                    regexp="singlespaces"
                    regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                    req-msg="Required"
                    is-required="true">
            </gg-select>
            <div class="col-sm-12">
                <span ng-repeat="t in frontInks[componentIndex] track by $index">
                    <gg-select err-class="error"
                            lbl="Tinta {{$index+1}}" 
                            form-group-class="col-sm-3" 
                            options="pr_inkoptions" 
                            ng-model="fmData['pr_inksfront'][componentIndex][$index]"
                            regexp="singlespaces"
                            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                            req-msg="Required"
                            is-required="true">
                    </gg-select>
                </span>
            </div>
            <gg-select err-class="error"
                    lbl="{{'productOffsetPaginated-add.labels.pr-inkback' | i18n}}" 
                    form-group-class="col-sm-3" 
                    options="pr_inkbackoptions" 
                    ng-model="fmData.pr_inkback[componentIndex]"
                    regexp="singlespaces"
                    regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                    req-msg="Required"
                    is-required="true">
            </gg-select>
            <div class="col-sm-12">
                <span ng-repeat="t in backInks[componentIndex] track by $index">
                    <gg-select err-class="error"
                            lbl="Tinta {{$index+1}}" 
                            form-group-class="col-sm-3" 
                            options="pr_inkoptions" 
                            ng-model="fmData['pr_inksback'][componentIndex][$index]"
                            regexp="singlespaces"
                            regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                            req-msg="Required"
                            is-required="true">
                    </gg-select>
                </span>
            </div>
            <label class="col-sm-12 fieldset">MATERIAL</label>
            <gg-select err-class="error"
                    lbl="{{'productOffsetPaginated-add.labels.pa-id' | i18n}}" 
                    form-group-class="col-sm-6" 
                    options="mt_idoptions" 
                    ng-model="fmData.mt_id[componentIndex]"
                    regexp="singlespaces"
                    regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                    req-msg="Required"
                    is-required="true">
            </gg-select>
            <span ng-if="fmData.mt_id[componentIndex]">
                <div class="col-sm-12" ng-repeat="material in mt_idoptions | filter:{'value':fmData.mt_id[componentIndex]}:true">
                    <p class="field-info bg-warning">
                    {{material.width}} x {{material.height}} {{material.measure}}
                    </p>
                </div>
            </span>
            <label class="col-sm-12 fieldset">MEDIDA DEL PLIEGO</label>
            <gg-input err-class="error"
                        lbl="{{'productOffsetGeneral-add.labels.pr-materialsizewidth' | i18n}}" 
                        form-group-class="col-sm-3"
                        ng-model="fmData.pr_materialsizewidth[componentIndex]"
                        regexp="decimal"
                        regexp-msg="{{'general.regexp.decimal' | i18n}}"
                        req-msg="Required"
                        is-required="true">
            </gg-input>
                <gg-input err-class="error"
                        lbl="{{'productOffsetGeneral-add.labels.pr-materialsizeheight' | i18n}}" 
                        form-group-class="col-sm-3"
                        ng-model="fmData.pr_materialsizeheight[componentIndex]"
                        regexp="decimal"
                        regexp-msg="{{'general.regexp.decimal' | i18n}}"
                        req-msg="Required"
                        is-required="true">
            </gg-input>
            <gg-select err-class="error"
                    lbl="{{'productOffsetGeneral-add.labels.pr-materialsizemeasure' | i18n}}" 
                    form-group-class="col-sm-3" 
                    options="pr_materialsizemeasureoptions" 
                    ng-model="fmData.pr_materialsizemeasure[componentIndex]"
                    regexp="singlespaces"
                    regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                    req-msg="Required"
                    is-required="true">
            </gg-select>
            <gg-input err-class="error"
                        lbl="{{'productOffsetGeneral-add.labels.pr-materialformatsqty' | i18n}}" 
                        form-group-class="col-sm-3"
                        ng-model="fmData.pr_materialformatsqty[componentIndex]"
                        regexp="integer"
                        regexp-msg="{{'general.regexp.integer' | i18n}}"
                        req-msg="Required"
                        is-required="true">
            </gg-input>
            <label class="col-sm-12 fieldset">BARNIZ</label>
            <gg-select err-class="error"
                    lbl="{{'productOffsetPaginated-add.labels.pr-varnish' | i18n}}" 
                    form-group-class="col-sm-4" 
                    options="pr_varnishoptions" 
                    ng-model="fmData.pr_varnish[componentIndex]"
                    regexp="singlespaces"
                    regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                    req-msg="Required"
                    is-required="true">
            </gg-select>
            <span ng-if="!(fmData.pr_varnish[componentIndex]==='no')">
                <gg-select err-class="error"
                        lbl="{{'productOffsetPaginated-add.labels.pr-varnishfinished' | i18n}}" 
                        form-group-class="col-sm-4" 
                        options="pr_varnisfinishedoptions" 
                        ng-model="fmData.pr_varnishfinished[componentIndex]"
                        regexp="singlespaces"
                        regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                        req-msg="Required"
                        is-required="true">
                </gg-select>
            </span>
            <label class="col-sm-12 fieldset">LAMINADO</label>
            <gg-select err-class="error"
                    lbl="{{'productOffsetPaginated-add.labels.pr-laminate' | i18n}}" 
                    form-group-class="col-sm-4" 
                    options="pr_laminateoptions" 
                    ng-model="fmData.pr_laminate[componentIndex]"
                    regexp="singlespaces"
                    regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                    req-msg="Required"
                    is-required="true">
            </gg-select>
            <span ng-if="!(fmData.pr_laminate[componentIndex]==='no')">
                <gg-select err-class="error"
                        lbl="{{'productOffsetPaginated-add.labels.pr-laminatefinished' | i18n}}" 
                        form-group-class="col-sm-4" 
                        options="pr_laminatefinishedoptions" 
                        ng-model="fmData.pr_laminatefinished[componentIndex]"
                        regexp="singlespaces"
                        regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                        req-msg="Required"
                        is-required="true">
                </gg-select>
                <gg-select err-class="error"
                        lbl="{{'productOffsetPaginated-add.labels.pr-laminatecaliber' | i18n}}" 
                        form-group-class="col-sm-4" 
                        options="pr_laminatecaliberoptions" 
                        ng-model="fmData.pr_laminatecaliber[componentIndex]"
                        regexp="singlespaces"
                        regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                        req-msg="Required"
                        is-required="true">
                </gg-select>
            </span>
            <label class="col-sm-12 fieldset">DOBLEZ</label>
            <gg-select err-class="error"
                    lbl="{{'productOffsetPaginated-add.labels.pr-foldunit1' | i18n}}" 
                    form-group-class="col-sm-4" 
                    options="pr_foldunitoptions" 
                    ng-model="fmData.pr_foldunit1[componentIndex]"
                    regexp="singlespaces"
                    regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                    req-msg="Required"
                    is-required="true">
            </gg-select>
            <gg-select err-class="error"
                    lbl="{{'productOffsetPaginated-add.labels.pr-foldunit2' | i18n}}" 
                    form-group-class="col-sm-4" 
                    options="pr_foldunitoptions" 
                    ng-model="fmData.pr_foldunit2[componentIndex]"
                    regexp="singlespaces"
                    regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                    req-msg="Required"
                    is-required="true">
            </gg-select>
            <gg-select err-class="error"
                        lbl="{{'productOffsetPaginated-add.labels.pr-foldunit3' | i18n}}" 
                        form-group-class="col-sm-4" 
                        options="pr_foldunitoptions" 
                        ng-model="fmData.pr_foldunit3[componentIndex]"
                        regexp="singlespaces"
                        regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                        req-msg="Required"
                        is-required="true">
            </gg-select>
            <label class="col-sm-12 fieldset">OTROS ACABADOS</label>  
            <gg-select err-class="error"
                    lbl="{{'productOffsetPaginated-add.labels.pr-precut' | i18n}}" 
                    form-group-class="col-sm-4" 
                    options="pr_precutoptions" 
                    ng-model="fmData.pr_precut[componentIndex]"
                    regexp="singlespaces"
                    regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                    req-msg="Required"
                    is-required="true">
            </gg-select>
            <gg-select err-class="error"
                    lbl="{{'productOffsetGeneral-add.labels.pr-drill' | i18n}}" 
                    form-group-class="col-sm-4" 
                    options="pr_drilloptions" 
                    ng-model="fmData.pr_drill[componentIndex]"
                    regexp="singlespaces"
                    regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
                    req-msg="Required"
                    is-required="true">
            </gg-select>
        </div>
    </div>
  </div>
  <label class="col-sm-12 fieldset">ACABADOS GENERALES</label>
  <gg-select err-class="error"
        lbl="{{'productOffsetPaginated-add.labels.pr-stapling' | i18n}}" 
        form-group-class="col-sm-4" 
        options="pr_staplingoptions"
        ng-model="fmData.pr_stapling"
        regexp="singlespaces"
        regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
        req-msg="Required"
        is-required="true">
    </gg-select>
    <gg-select err-class="error"
        lbl="{{'productOffsetPaginated-add.labels.pr-bound' | i18n}}" 
        form-group-class="col-sm-4" 
        options="pr_boundoptions"
        ng-model="fmData.pr_bound"
        regexp="singlespaces"
        regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
        req-msg="Required"
        is-required="true">
    </gg-select>
    <gg-select err-class="error"
        lbl="{{'productOffsetPaginated-add.labels.pr-spiralbind' | i18n}}" 
        form-group-class="col-sm-4" 
        options="pr_spiralbindoptions"
        ng-model="fmData.pr_spiralbind"
        regexp="singlespaces"
        regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
        req-msg="Required"
        is-required="true">
    </gg-select>
    <label class="col-sm-12 fieldset">NUMERACION</label>
    <gg-select err-class="error"
             lbl="{{'productOffsetPaginated-add.labels.pr-folio' | i18n}}" 
             form-group-class="col-sm-4" 
             options="pr_foliooptions" 
             ng-model="fmData.pr_folio"
             regexp="singlespaces"
             regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
             req-msg="Required"
             is-required="true">
    </gg-select>
    <label class="col-sm-12 fieldset">STATUS</label>
    <gg-select err-class="error"
             lbl="{{'productOffsetPaginated-add.labels.pr-status' | i18n}}" 
             form-group-class="col-sm-4" 
             options="pr_statusoptions" 
             ng-model="fmData.pr_status"
             regexp="singlespaces"
             regexp-msg="{{'general.regexp.singlespaces' | i18n}}"
             req-msg="Required"
             is-required="true">
    </gg-select>
    <gg-submit lbl="Submit"
        form-group-class="col-sm-12" 
        ng-disabled="ggform.$invalid"
        btn-class="col-xs-12 col-sm-4  col-md-2">
    </gg-submit>   
</form>
</div>